/* swiper 전체 사이즈 지정 */
.swiper {
  width: 100%;
  height: 100%;
}

/* pc 버전 */
.swiper-slide .pc {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* pc 버전에서는 pad/mobile 안 보이게 처리 - 반응형에서 display: block으로 설정 */
.swiper-slide .pad,
.swiper-slide .mobile {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 페이지네이션 */
.hero-slider .swiper-pagination {
  position: absolute;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  background-color: transparent !important; /* 기본 배경색 제거 */
  background-image: url("../img/heart-1-pc.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1 !important;
  border-radius: 0; /* 기본 원형 border-radius 제거 */
}

.swiper-pagination-bullet-active {
  background-color: transparent !important;
  background-image: url("../img/heart-2-pc.svg");
}

@media (max-width: 1024px) {
  .hero-slider .swiper-slide .pc {
    display: none;
  }
  .hero-slider .swiper-slide .pad {
    display: block;
  }
  .hero-slider .swiper-slide .mobile {
    display: none;
  }

  .swiper-pagination-bullet {
    background-image: url("../img/heart-1-pad.svg");
  }

  .swiper-pagination-bullet-active {
    background-image: url("../img/heart-2-pad.svg");
  }

  .hero-slider .swiper-pagination {
    bottom: 0.71428rem;
  }
}

@media (max-width: 768px) {
  .hero-slider .swiper-slide .pc {
    display: none;
  }
  .hero-slider .swiper-slide .pad {
    display: none;
  }
  .hero-slider .swiper-slide .mobile {
    display: block;
  }

  .swiper-pagination-bullet {
    background-image: url("../img/heart-1-mobile.svg");
  }

  .swiper-pagination-bullet-active {
    background-image: url("../img/heart-2-mobile.svg");
  }

  .hero-slider .swiper-pagination {
    bottom: 0.8333rem;
  }
}
