html {
    font-size: var(--fs-pc);
}

.brand-story {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 6rem auto;
}

.brand-story .line {
    max-height: 100px;
    overflow: hidden;
}

.brand-story .line img {
    aspect-ratio: 1/100;
    object-fit: cover;
}

.brand-story h3 {
    font-family: 'MaruBuri', 'Sweet', sans-serif;
    font-size: var(--fs--h3);
    font-weight: var(--fw1);
}

.brand-story h1 {
    font-family: 'MaruBuri', 'Sweet', sans-serif;
    font-size: var(--fs--h1);
    font-weight: var(--fw2);
}

.brand-story p {
    text-align: center;
    color: var(--gray-5);
    line-height: var(--lh2);
}

.brand-story figure {
    margin: 1.5rem 0;
    width: 400px;
    aspect-ratio: 400/700;
}

.brand-story figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brand-story a {
    color: var(--pink-5);
    border-bottom: 1px solid var(--pink-5);
}

@media(max-width:1024px) {
    html {
        font-size: var(--fs-pad);
    }

    .brand-story {
        max-width: 1024px;
    }

    .brand-story .line {
        max-height: 90px;
    }

    .brand-story .line img {
        aspect-ratio: 1/90;
    }

    .brand-story figure {
        width: 300px;
    }
}

@media(max-width:768px) {
    html {
        font-size: var(--fs-mobile);
    }

    .brand-story {
        max-width: 768px;
        padding: 1rem;
    }

    .brand-story .line {
        max-height: 80px;
    }

    .brand-story .line img {
        aspect-ratio: 1/80;
    }

    .brand-story h3 {
        font-size: 1.25rem;
    }

    .brand-story h1 {
        font-size: 1.583rem;
    }

    .brand-story figure {
        width: 200px;
    }
}