/* 변수 선언 */
:root {
  /* 디바이스별 폰트 사이즈 */
  --fs-pc: 16px;
  --fs-pad: 14px;
  --fs-mobile: 12px;

  /* 행간 */
  --lh1: 1.2;
  --lh2: 1.45;

  /* 태그별 폰트 사이즈 */
  --fs--h4: 1.25rem;
  --fs--h3: 1.5625rem;
  --fs--h2: 1.9375rem;
  --fs--h1: 2.4375rem;

  --fs-body1: 1rem;
  --fs-body2: 0.8125rem;
  --fs-detail: 0.625rem;

  /* 폰트 굵기 */
  --fw1: 400;
  --fw2: 700;

  /* 여백 */
  --space-normal: 1rem;
  --space-1x-large: 2rem;
  --space-2x-large: 3rem;
  --space-3x-large: 6rem;

  --space-1x-small: 0.5rem;
  --space-2x-small: 0.25rem;

  /* 핑크 색상 */
  --pink-0: #fff5f7;
  --pink-1: #fcdfe4;
  --pink-2: #f7c9d1;
  --pink-3: #efb4be;
  --pink-4: #e4a0ac;
  --pink-5: #d58e9a;
  --pink-6: #c17b87;
  --pink-7: #a76872;
  --pink-8: #8a545d;
  --pink-9: #6b4047;

  /* 그레이 컬러 */
  --gray-0: #ffffff;
  --gray-1: #f8f9fa;
  --gray-2: #eeeff2;
  --gray-3: #e0e1e6;
  --gray-4: #cdced3;
  --gray-5: #b4b5ba;
  --gray-6: #949499;
  --gray-7: #6b6c6f;
  --gray-8: #3d3d3f;
  --gray-9: #0c0c0d;

  /* 대표 컬러 */
  --main: #fb91a3;
}

/* 태그별 폰트 등록 */
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
h4 {
  font-size: var(--fs-h4);
}
h5 {
  font-size: var(--fs-h5);
}
h6 {
  font-size: var(--fs-h6);
}

/* 폰트 지정 */
html {
  font-size: var(--fs-pc);
  font-family: "Sweet", sans-serif;
  color: var(--gray-9);
  font-weight: var(--fw1);
}

.common-frame {
  padding: 0 var(--space-2x-large);
  background-color: white;
}

/* 공통 css 작성 */
/* pc 기본 여백 3rem */
.common-frame {
    padding: 0 var(--space-2x-large);
    background-color: white;
}