.pad {
    display: none;
}

.mo {
    display: none;
}

.banner {
    margin-top: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.banner figure {
    width: 100%;
}

.banner figure img {
    width: 100%;
    height: auto;
    display: block;
}

@media(max-width:1024px) {
    .pc {
        display: none;
    }

    .pad {
        display: block;
    }

    .mo {
        display: none;
    }

    .banner {
        margin-top: 70px;
    }
}

@media(max-width:768px) {
    .pc {
        display: none;
    }

    .pad {
        display: none;
    }

    .mo {
        display: block;
    }

    .banner {
        margin-top: 50px;
    }
}
