.option-label {
  margin-bottom: 0.5rem;
  color: var(--gray-9);
  font-size: var(--fs--h4);
}

.option-box {
  width: 100%;
  max-width: 1209px;
}

.option-select {
  position: relative;
}

.option-list {
  display: none;
  margin-top: 0.5rem;
}

.option-trigger,
.option-item {
  width: 100%;
  border: 1px solid var(--pink-1);
  background-color: var(--gray-0);
  color: var(--gray-9);
  font: inherit;
  text-align: left;
}

.option-trigger {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-height: 3rem;
  padding: var(--space-normal) var(--space-1x-large);
  border-radius: 0.5rem;
  cursor: pointer;
}

.option-trigger:hover,
.option-item:hover {
  border-color: var(--pink-1);
  background-color: var(--pink-0);
}

.option-icon {
  width: 24px;
  height: 24px;
}

.option-value {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--gray-6);
  font-size: var(--fs--h4);
}

.option-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-height: 2.5rem;
  padding: var(--space-normal) var(--space-1x-large);
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: var(--fs--h4);
}

.option-color {
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--gray-3);
}

.option-color-empty {
  width: 24px;
  height: 24px;
}

/* 색상 정보 */
.option-color-pink1 {
  background-color: #e6858f;
}
.option-color-pink2 {
  background-color: #ce8573;
}
.option-color-pink3 {
  background-color: #ca6768;
}
.option-color-pink4 {
  background-color: #bb5e74;
}
.option-color-pink5 {
  background-color: #cb6a69;
}
.option-color-pink6 {
  background-color: #b45448;
}

.option-summary {
  display: none;
  margin-top: 1rem;
  padding: var(--space-1x-large) var(--space-2x-large);
  background-color: var(--gray-1);
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
}

/* 옵션 박스가 특정 상태일 때 옵션 리스트를 보이게 하는 코드 */
.option-box.is-open .option-list,
.option-box.stage-2 .option-list,
.option-box.on .option-list {
  display: block;
}

.option-box.is-open .option-value,
.option-box.stage-2 .option-value,
.option-box.on .option-value,
.option-box.stage-3 .option-value {
  color: var(--gray-9);
}

.option-box.stage-3 .option-summary {
  display: flex;
}

.pro-name {
  font-weight: var(--fw2);
  font-size: var(--fs--h2);
}

.pro-desc {
  font-size: var(--fs--h4);
  display: none;
}

.pro-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  color: var(--pink-9);
  font-size: var(--fs-body1);
  font-weight: var(--fw2);
}
.counter img {
  cursor: pointer;
}
.price {
  display: flex;
  font-size: var(--fs--h4);
  font-weight: var(--fw2);
}
/* option.css에 추가 */
.option-item.is-selected {
    background-color: var(--pink-0);
    border-color: var(--pink-3);
    font-weight: var(--fw2);
}