.sangpage {
    margin-top: 6rem;
    margin-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

/* 내부 이미지 스타일 (필요시 추가) */
.sangpage figure {
    margin: 0;
    /* figure 기본 여백 제거 */
}

.sangpage img {
    width: 100%;
    height: auto;
    display: block;
}

.sangpage .pad,
.sangpage .mobile {
    display: none;
}

/* 상세페이지 위에 문구 */
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    gap: 10rem;
}

.con {
    font-size: var(--fs--h2);
    font-weight: var(--fw2);
    padding-bottom: 2rem;
}

.con.on {
    color: var(--main);
    border-bottom: 3px solid var(--main);
}

@media (max-width: 1024px) {

    .sangpage .pc,
    .sangpage.mo {
        display: none;
    }

    .sangpage .pad {
        display: block;
    }
    
    .section {
        gap: 8rem;
    }
}

@media (max-width: 768px) {

    .sangpage .pad,
    .sangpage .pc {
        display: none;
    }

    .sangpage .mobile {
        display: block;
    }

    .section {
        gap: 4rem;
    }
}