.sns-img-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sns-img-section .pc {
    padding: 6rem;
}

.sns-img-section .pad,
.sns-img-section .mobile {
    display: none;
    padding: 6rem;

}

@media (max-width: 1024px) {
    .sns-img-section .pc {
        display: none;
    }

    .sns-img-section .pad {
        display: block;
    }

    .sns-img-section .mobile {
        display: none;
    }
}

@media (max-width: 768px) {
    .sns-img-section .pc {
        display: none;
    }

    .sns-img-section .pad {
        display: none;
    }

    .sns-img-section .mobile {
        display: block;
        padding: 2rem; /* 모바일은 패딩 더 줄이기 */
        width: 100%;
    }

    .sns-img-section .mobile img {
        width: 100%;
    }
}