.banner-img {
    padding: var(--space-2x-large) 0;
}

.banner-img .pc {
    display: block;
}

.banner-img .pad, .banner-img .mobile {
    display: none;
}

.banner-img img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}

@media (max-width : 1024px) {
    .banner-img .pad {
        display: block;
    }
    .banner-img .pc, .banner-img .mobile {
        display: none;
    }
}

@media (max-width : 768px) {
    .banner-img  .mobile {
        display: block;
    }
    .banner-img .pc, .banner-img  .pad {
        display: none;
    }

    .banner-img .mobile figure {
        width: 100%;
        margin: 0;
    }
}